body {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=1480&t=st=1679014259~exp=1679014859~hmac=2acf98dec6fcdeaf24dd9202038888e0a0c84710c3debabb57dd7a390e8a79e9");
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: rgba(195, 156, 199, .5);
  font-weight: 800;
}

#loginForm {
  text-align: center;
  margin-top: 40px;
  padding: 60px;
  background-color: rgba(32, 53, 55, .3);
  width: 50vw;
  height: 50vh;
  border-radius: 8px;
  letter-spacing: .25rem;
  font-weight: 300;
}

input {
  padding: 10px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  width: 75%;
}

input:focus {
  outline:none;
}

#loginForm h3 {
  font-weight: 800;
  margin-bottom: 30px;
}

.btn {
  background-color: #80D5DC;
  width: 190px;
  margin-top: 10px;
}